.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #1b1b1b;
}

h1 {
  margin: 30px;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 5px 0 #142741;
  font-size: 8rem;
  color: #0d09f0;
}

p {
  font-size: 2rem;
  color: #0d09f0;
  font-family: "Times New Roman", Times, serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: "Times New Roman", Times, serif;

}